/* Distance to the right of the screen width is less than 500px */

@media (max-width: 500px) {
    .main {
        margin-right: 10%;
    }
}

/* Changed settings if the screen width is less than 767px */

@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        min-width: 30%;
    }
}
