$main-background: #000; // black
$background-color-header: #00008b; // darkblue
$background-footer: #00f; // blue
$color-of-text-and-links: #fff; // white
$border-and-text-in-boxes: #000; // black
$background-color-in-boxes: #add8e6; // lightblue
$main-color: #fff; // white
