.footer a {
    color: $color-of-text-and-links;
    text-decoration: none;
    margin-right: 20px;
}

/* Main settings for the footer */

.footer {
    margin-top: 2em;
    height: 3.5em;
    display: flex;
    justify-content: space-between;
    background-color: $background-footer;
}

/* Indented text in the footer */

.footer p {
    margin-left: 40%;
}
