$main-background: #0093ad; // combination lightblue turquoise
$background-color-header: #ad7445; // light orange
$background-footer: #ffa459; // even brighter orange
$color-of-text-and-links: #000; // black
$border-and-text-in-boxes: #000; // black
$background-color-in-boxes: #fff8dc; // cornsilk
$main-color: #000; // black
